body {
    background-image: url(ice.jpg);
    font-family: Sylfaen;
    color: #3255af;
}

h1 {
    font-size: 3.8em;
    line-height: 0.5em;
    text-shadow: 0.03em 0.03em 0.03em rgb(50,50,50), -0.03em -0.03em 0.03em rgb(40,40,255), -0.04em -0.04em 0.08em rgb(0,0,0);
    text-align: center;
}

#loginbox {
    margin: 0 auto;
    width: 15%;
    text-align: center;
    display:block;
}

form{
    margin: 0 auto;
    width: 75%;
}